<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Game League Home</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> <!-- Include Google Fonts -->
        <link rel="stylesheet" href="static/styles.css"> <!-- Your CSS file -->
    </head>    
<body>
    <header class="header">
        <h1>Blood Bowl League Management</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/add_player">Add Player</a></li>
                <li><a href="/players">View Players</a></li>
                <li><a href="/pairings">Generate Pairings</a></li>
                <li><a href="/current_pairings">Current Pairings</a></li>
                <li><a href="/submit_results">Submit Results</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2>Current Pairings</h2>
    <table>
        <thead>
            <tr>
                <th>Pairing ID</th>
                <th>Player 1</th>
                <th>Player 2</th>
            </tr>
        </thead>
        <tbody>
            {% for player1, player2, pairing_id in pairings %}
                <tr>
                    <td>{{ player1 }}</td>
                    <td>{{ pairing_id }}</td>
                    <td>{{ player2 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </main>
    <p>Total games scheduled: {{ total_scheduled }} / {{ total_requested }}</p>
</body>
</html>