<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Pairings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Choose Number of Games</h1>
    <form method="POST" action="{{ url_for('generate_pairings') }}">
        <table>
            <tr>
                <th>Player Name</th>
                <th>Number of Games</th>
            </tr>
            {% for player in players %}
            <tr>
                <td>{{ player[1] }}</td>
                <td>
                    <select name="{{ player[0] }}">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </td>
            </tr>
            {% endfor %}
        </table>
        <button type="submit">Generate Pairings</button>
    </form>
    <a href="{{ url_for('home') }}">Back to Home</a>
</body>
</html>