<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pairings Input</title>
    <link rel="stylesheet" href="static/styles.css"> <!-- Link to your CSS file -->
</head>
<body>
    <h1>Choose Number of Games</h1>
    <form method="POST">
       {% for player in players %}
            <label>{{ player[1] }}</label>
            <select name="games_requested_{{ player[0] }}">
               <option value="0">0</option>
               <option value="1">1</option>
               <option value="2">2</option>
            <option value="3">3</option>
            <!-- Add more options if necessary -->
            </select>
       {% endfor %}
        <button type="submit">Submit Pairings</button>
    </form>
    <a href="/">Home</a>
</body>
</html>
